# Environments
__pycache__
**/.DS_Store
**.log
.venv
.env
.ruff_cache/
server/.env
whisper/htmls/
whisper/models/*
whisper/runs/*
whisper/data/*
!/whisper/data/noisy_audio.wav
whisper/.venv
whisper/.env
whisper/uv.lock